# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

./build/*
.DS_Store
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/Makefile
build/runTests
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-657931f88a1c99ef5754.json
build/.cmake/api/v1/reply/cmakeFiles-v1-8f4a7b03c407b2245379.json
build/.cmake/api/v1/reply/codemodel-v2-12fc97ec79fedd65be8e.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2024-12-10T04-39-51-0789.json
build/.cmake/api/v1/reply/target-runTests-Debug-aec4b959143f5ec149d3.json
build/.cmake/api/v1/reply/target-SolutionLib-Debug-ebbd5dfa58cca71bc701.json
build/.cmake/api/v1/reply/toolchains-v1-18fc726f657f21b0bbd8.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.2/CMakeSystem.cmake
build/CMakeFiles/3.31.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/SolutionLib.dir/build.make
build/CMakeFiles/SolutionLib.dir/cmake_clean_target.cmake
build/CMakeFiles/SolutionLib.dir/cmake_clean.cmake
build/CMakeFiles/SolutionLib.dir/compiler_depend.internal
build/CMakeFiles/SolutionLib.dir/compiler_depend.make
build/CMakeFiles/SolutionLib.dir/compiler_depend.ts
build/CMakeFiles/SolutionLib.dir/depend.make
build/CMakeFiles/SolutionLib.dir/DependInfo.cmake
build/CMakeFiles/SolutionLib.dir/flags.make
build/CMakeFiles/SolutionLib.dir/link.txt
build/CMakeFiles/SolutionLib.dir/progress.make
build/CMakeFiles/runTests.dir/build.make
build/CMakeFiles/runTests.dir/cmake_clean.cmake
build/CMakeFiles/runTests.dir/compiler_depend.internal
build/CMakeFiles/runTests.dir/compiler_depend.make
build/CMakeFiles/runTests.dir/compiler_depend.ts
build/CMakeFiles/runTests.dir/depend.make
build/CMakeFiles/runTests.dir/DependInfo.cmake
build/CMakeFiles/runTests.dir/flags.make
build/CMakeFiles/runTests.dir/link.txt
build/CMakeFiles/runTests.dir/progress.make
build/Testing/TAG
build/Testing/20241210-0439/Test.xml
build/Testing/Temporary/CTestCostData.txt
build/Testing/Temporary/LastTest_20241210-0439.log
