# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 构建目录
build/*
output/*

# macOS
.DS_Store

# VS Code 编译生成的可执行文件（在 test.cpp 所在目录）
problems/**/test
playground/playground
playground/test